.prompt {
    background-color: white;
    width: 50%;
    height: 40px;
    border: 1px solid white;
    outline: 1px solid white;
    
  }
  .prompt:focus {
    border: 1px solid white;
    outline: 1px solid white;
  }
  .btn {
    color: white;
    width: 100px;
    border: 1px solid white;
  }
  
  
  .btn_prompt{
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  p{
    color: white;
  }
  